@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.hero{
    background-image: url("../../../public/assets/heroimage.png");
    background-size: cover;
    height: 100%;
    padding-top: 5%;
    box-shadow: inset 0 0 0 1000px rgba(164, 240, 250, 0.3);
}


.hero h1{
    font-size: 5em;
    color: #fff;
    margin-left: 4vw;
    margin-right: 40vw;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0vw;
}

.hero p{
    font-size: 1.5em;
    color: #fff;
    margin-left: 4vw;
    margin-right: 70vw;
    margin-top: 0vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.hero-text{
    padding-bottom: 10vw;
}

.about {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    display: flex;
}

.aboutText {
  margin:auto;
  margin-top: 10rem;
}

.about .image-placeholder{
    height:30vw;
    object-fit: cover;
    margin: 3rem 2rem;
}

@media only screen and (max-width: 1200px) {
  .about{
    display: block;
  }
}

.about .text-wrapper {
    color: #2f2f2f;
    font-family: "Roboto Slab-Bold", Helvetica;
    font-size: 3em;
    font-weight: 700;
    left: 90px;
    letter-spacing: 0; 
    line-height: normal;
    top: 4rem;
    width: 507px;
}

.about .div{
    color: #2f2f2f;
    font-family: "Montserrat", Helvetica;
    font-size: 2em;
    font-weight: 300;
    left: 95px;
    letter-spacing: 0; 
    line-height: normal;
    top: 2rem;
    width: 682px;
}

.news {
    background-color: #baf0fc;
    position: relative;
    width: 100%;
    padding: 4rem 3rem;
}

.newsFirstRow {
  display: flex;
  margin: 1rem 0;

}
  
.news-updates {
  color: #2f2f2f;
  font-family: "Montserrat", Helvetica;
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 3rem;
  line-height: normal;
}

.news .image-card {
  display: flex;
  width: 50vw;
}
.news .button {
  object-fit: cover;
  height: 2.3rem;
  margin-top: 2rem;
}

.news .text-wrapper {
  color: #2f2f2f;
  font-family: "Montserrat", Helvetica;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin:0;
  width: 25vw;
}

.news .image-placeholder {
  height: 10rem;
  width: 14rem;
  object-fit: cover;
  margin-right: 1rem;
}

.news .image-placeholder2 {
  height: 10rem;
  width: 14rem;
  object-fit: none;
  margin-right: 1rem;
}

.community-forum {
  height: 673px;
  width: 1715px;
}

.community-forum .overlap-group {
  /* background-image: url(./rectangle-18.png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 673px;
  left: 5px;
  position: relative;
  width: 1680px;
}

.community-forum .rectangle {
  height: 673px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1680px;
}

.community-forum .text-wrapper {
  color: #ffffff;
  font-family: "Roboto Slab-Bold", Helvetica;
  font-size: 128px;
  font-weight: 700;
  left: 252px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 115px;
  width: 1182px;
}

.community-forum .button {
  height: 67px;
  left: 663px;
  position: absolute;
  top: 436px;
  width: 259px;
}

.community-forum .join-our-community {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 1586px;
}

.trackin-requests {
  background-color: #e2dfd5;
  height: 302px;
  width: 1694px;
}

.trackin-requests .overlap {
  height: 302px;
  position: relative;
  width: 1692px;
}

.trackin-requests .rectangle {
  height: 302px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 1679px;
}

.trackin-requests .div {
  background-color: #53b691;
  height: 302px;
  left: 0;
  position: absolute;
  top: 0;
  width: 834px;
}

.trackin-requests .text-wrapper {
  color: #ffffff;
  font-family: "Roboto Slab-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 84px;
  width: 502px;
}

.trackin-requests .forms {
  height: 120px;
  left: 920px;
  position: absolute;
  top: 117px;
  width: 685px;
}

.trackin-requests .button {
  height: 47px;
  left: 522px;
  position: absolute;
  top: 74px;
  width: 164px;
}

.trackin-requests .input-field-tracking {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 687px;
}

.trackin-requests .overlap-group {
  height: 57px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 688px;
}

.trackin-requests .p {
  color: #ffffff;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 410px;
}

.trackin-requests .enter-your-name {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 688px;
}

.trackin-requests .text-wrapper-2 {
  color: #ffffff;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 157px;
  width: 677px;
}

.service-request {
  background-color: #ffffff;
  height: 846px;
  width: 1681px;
}

.service-request .overlap {
  background-color: #ffffff;
  height: 846px;
  position: relative;
}

.service-request .overlap-group {
  height: 198px;
  left: 469px;
  position: absolute;
  top: 63px;
  width: 807px;
}

.service-request .text-wrapper {
  color: #2f2f2f;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 36px;
  font-weight: 300;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 709px;
}

.service-request .div {
  color: #2f2f2f;
  font-family: "Roboto Slab-Bold", Helvetica;
  font-size: 70px;
  font-weight: 700;
  height: 123px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 807px;
}

.service-request .forms {
  height: 465px;
  left: 438px;
  position: absolute;
  top: 305px;
  width: 870px;
}

.service-request .button {
  height: 71px;
  left: 612px;
  position: absolute;
  top: 395px;
  width: 259px;
}

.service-request .input-field-email {
  height: 209px;
  left: 0;
  position: absolute;
  top: 160px;
  width: 872px;
}

.service-request .overlap-group-2 {
  height: 212px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 873px;
}

.service-request .enter-your-message {
  color: #2f2f2f;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 289px;
}

.service-request .img {
  height: 212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 873px;
}

.service-request .input-field-name {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 872px;
}

.service-request .overlap-2 {
  height: 57px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 873px;
}

.service-request .text-wrapper-2 {
  color: #2f2f2f;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 253px;
}
  
.service-request .enter-your-name {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 873px;
}

.service-request .overlap-wrapper {
  height: 56px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 433px;
}

.service-request .overlap-3 {
  height: 59px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 434px;
}

.service-request .enter-your-email {
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 434px;
}

.service-request .input-field-contact {
  height: 56px;
  left: 465px;
  position: absolute;
  top: 81px;
  width: 407px;
}

.service-request .overlap-4 {
  height: 59px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 408px;
}

.service-request .text-wrapper-3 {
  color: #2f2f2f;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 176px;
}

.service-request .contact-no {
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 408px;
}

.footer {
  background-color: #303030;
  width: 100%;
  padding-bottom: 0.1rem;
}

.footer .overlap {
  display: flex;
  width: 100%;
  padding: 1em;
}

.footer .blocking{
  vertical-align: middle;
  margin: auto;
}

.footer .line {
  background-color: #f8f7f7;
  height: 3px;
  width: 100%;
}

.footer .libagLogo{
  height: 20vw;
}

.footer .headings {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}

.footer .selection {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}
.footer .selection1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.footer .conts{
  height: 2rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 20%;
}

.footer .iamges{
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.footer .text-wrapper {
  color: #f8f7f7;
  font-family: "Montserrat", Helvetica;
  font-size: 1.6em;
  font-weight: 200;
  margin: 2rem auto ;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}